


{% extends 'base.html'%}


{% block content %}


    <div class="container mt-5 ms-auto">
        <h3 class="fw-bolder mb-3"> Edit this Post </h3>
        <form class="w-60 d-flex flex-column justify-content-center mb-5 " method="post" action="{% url 'edit_post' id=id %}" enctype="multipart/form-data">
            {% csrf_token%}
            {% for field in form %}
            <div class="mb-3 row form-group">
               <div class="col-sm-2 col-form-label"> {{field.label}}</div> 
                <div class="col-sm-10"> {{field}}</div>
            </div>
            {% endfor %}
            <div class="mb-3 row form-group">
              <div class="col-sm-2 col-form-label">Category</div> 
               <select class="col-sm-10" class="form-select" aria-label="Default select example" name = "category">
                <option selected>Select a category for your post</option>
                {% for category in categories %}
                
                <option  name ="category" value = {{category.id}}>{{category.category}}</option>
                {% endfor %}
               
              </select>
  
            </div>
           <div class="d-flex flex-row justify-content-center align-items-center ">
            <button class="btn btn-secondary mt-2 " type="submit">Edit</button>
            
           </div> 
          
        
        </form>
        
    </div>
        
{% endblock %}
