{% extends 'base.html' %}
{% block content %}
 <div class="container">
    {% if messages %}
    <!-- section for the system messages and alerts -->
    <section class="alerts">
       {% for message in messages %}
        <div class="alert alert-success mt-2" role="alert">{{message}}</div>
       {% endfor%}
    </section>
    {% endif %}
    <!-- Section for the system messages ends -->
    
    <!-- Section for all posts -->
    <section class="posts">
        <div class="col-lg-11">
            <h1 class="text-primary card-header text-center">All Posts</h1>
            <!-- Individual post starts -->
            {% for post in page_obj %}
             <article class="col-7 row justify-content-center">
                    <!-- Post title -->
                    <h2 class="fw-bolder mb-1 card-body">{{post.name}}</h2>
                    <div class="text-muted fst-italic mb-2">
                        Posted by {{post.author}} on {{post.time}}
                    </div> 
                    <div>
                        <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'category' post.category %}">Category: {{post.category.category}}</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'post' id=post.id %}">Details</a>
                    </div>
                    
               
                    <!-- Image -->
                    <img class="img-thumbnail rounded" src="/{{post.image}}" alt={{post.image}} />
              
            </article>
            {% endfor %}
            <!-- Individual post Ends -->
        </div>
    </section>  
    <!-- section for all posts ends here -->

    <!-- Pagination section begins -->
     <section>
        {% block pagination %}
        <div class=" d-flex flex-row justify-content-between mb-2">
           <div>
               {% for page_number in page_obj.paginator.page_range %}
               <a href="{% url 'index' page_number %}" class="{% if page_number == page_obj.number %}current{% endif %} mx-1">
                   {{page_number}}</a>
                  {%endfor%}
           </div>
           <div> {{page_obj}} </div>
        </div>
          
       {% endblock %}
     </section>
    <!-- Pagination section ends -->
   
    <!--Page control section  -->
 <section>
    <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-danger btn-floating btn-lg m-2" id="btn-back-to-top">
        <i class="fas fa-arrow-up"> Top</i>

 </section>   
<!-- Page control section ends -->

    
 </div>
  
                                 
                    
            
    {% endblock %}
                 
