{% include 'navbar.html' %}
<div class="container pt-5">
  {% for message in messages %}
<div class="alert alert-danger" role="alert">
  {{message}}

{% endfor %}
{% if form %}
<h2>Fill the form to register</h2>

<form method="post" action="{% url 'register'%}" class="form-group" enctype="multipart/form-data">
    
  {% csrf_token %}
      
      {% for field in form %}
      <div class="form-group">

        <label class="mt-2">{{field.label}}</label>
    
       <span class="form-control mt-1">{{field}}</span> 
      </div>
     
      {% endfor %}
      {% for field in author_form %}
      <div class="form-group">
        <label class="mt-2">{{field.label}}</label>
        <div class="form-control mt-1">{{field}}</div> 
      </div>
      {% endfor %}
    
    <button type="submit" class="btn btn-secondary mt-2">Submit</button>

  </form>

{% endif%}
</div>
</div>
  